<!-- <footer class="footer-distributed">

  

    <div class="footer-left">

      <p class="footer-links">
        <a [routerLink]="['/home']">Home</a>
        ·
        <a [routerLink]="['/blog']">Blog</a>
        ·
        <a [routerLink]="['/servicio']">Servicios</a>
        ·
        <a [routerLink]="['/contactos']">Contactos</a>
        ·
      
        <a href="https://www.interdominios.com/docs/politica-de-privacidad-de-datos.pdf">Política de privacidad</a>
      </p>

      <p>Compania de Iván &copy; 2018</p>
    </div>
    

  </footer> -->

  <footer class="text-muted">
    <div class="container">
        <div class="row">

      <div class="col">

          <p class="footer-links">
              <a [routerLink]="['/home']">Home</a>
              ·
              <a [routerLink]="['/blog']">Blog</a>
              ·
              <a [routerLink]="['/servicio']">Servicios</a>
              ·
              <a [routerLink]="['/contactos']">Contactos</a>
              ·
            
              <a href="https://www.interdominios.com/docs/politica-de-privacidad-de-datos.pdf">Política de privacidad</a>
          </div>
      
            <p>Compania de Iván &copy; 2018</p>
        
        
        <div class="col"></div>
        <div class="col">
            
          <div class="bd-example">
              <div class="btn-group dropup" ngbDropdown>
                <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdown01" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 chato:¿puedo ayudar?
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu x-placement="top-start" style="position: absolute; transform: translate3d(0px, -165px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <iframe
                    width="350"
                    height="350"
                    src="https://console.dialogflow.com/api-client/demo/embedded/e7d1d176-deac-427b-ae28-6a6a6b1a5845">
                </iframe>
                </div>
              </div>
            </div>
            
            
           
   
      </div>
    </div>
  </div>
    
    
  </footer>